@import url('https://fonts.googleapis.com/css?family=Yantramanav:100');

html { min-height: 100%; }

body {
    background-color: #9DC3C2;
}

h1 {
    padding-top: 10%;
    text-align: center;
    font-weight: 100;
    font-family: 'Yantramanav', sans-serif;
    color: #c1c1c1;
}

.lead {
    color: #c1c1c1;
}

h2 {
    margin: 10px 0 20px 0;
}
.post_w {

}
.content {
    background: #D0EFB1;
    color: #2c4251;
    padding: 20px;
}
body,h1 {font-family: "Raleway", Arial, sans-serif; }
h1 {letter-spacing: 6px}

.w3-button:hover{
    text-decoration: none;
}
.blog {
    font-size: 70px;
    text-align: center;
    font-family: 'Vollkorn SC', serif;
    padding: 20px;
}
footer{
    position: relative;
   left: 0;
   bottom: 0;
   width: 100%;
   margin-top: 10px;
}
h2 {
    text-align: center;
}
.readmore {
    font-weight: bold;
}
.banner {
    background-color: #f1f1f1;
    border-radius: 5px;
    margin-bottom: 5px;
}
.navbar {
    position: static;
}
.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}